.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
  }
  
  .signup{
    /* border: 2px solid red; */
    height: 30rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 6px 6px #333;
    position: relative;
  
  }
  .signup input{
    width: 15rem;
    height: 3rem;
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    border: 0.1px black solid;
    
  }
  
  .btn{
   display: flex;
   justify-content: space-around;
   width: 12rem;
   
   height: 3rem;
  }
  .btn button{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 5rem;
  }
  .main h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .nameError{
     
    color: red;
    position: absolute;
    top:50px;
    left: 60px;
    
  }
  .emailError{
    top: 150px;
    left: 60px;
    color: red;
    position: absolute;
   
    
  }
  .contactError{
    bottom: 230px;
    left: 60px;
    color: red;
    position: absolute;
   
    
  }

  @media screen and (max-width:489px){
  
    html{
      font-size: 10px;
    }
  .btn button{
    width: 6rem;
    height: 4rem;
  }
}