.card{
    /* border: 2px solid red; */
    width: 15rem;
    margin: 1rem;
    /* padding: 1.5rem; */
    box-shadow: 0px 2px 6px 3px;
}
.card h3{
    /* border: 2px solid black; */
    width: 15rem;
    height: 5rem;
    background-color: aqua;

}
.card button{
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: aquamarine;
    color: red;

    
}