.wrap{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.main{
 color: rgb(86, 32, 87);
 background-color: yellow;
 /* width: 30rem; */
 border-radius: 20px;
 padding: 0;
 
 
}
.carouselImage{
    height: 25rem;
    width: 100%;
}